.card-name {
    font-size: 20px;
    font-weight: 600;
}
.card-image {
    position: relative;
}
.button {
    display: none;
    position: absolute;
}
img:hover + .button, .button:hover  {
    display: block;
    position: absolute;
    opacity: 0.5;
    margin: 0 auto;
    top: 70%;
    left: 20%;
    right: 25%;
    background-color: #555;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    text-align: center;
}
.card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: rgb(163, 159, 159);
    padding-bottom: 5px;
}
.text-styles {
    float: right;
    padding-top: 2rem;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 8px 7px 10px 7px;
}
.card {
    border: 2px solid #e7e7e7; 
    border-radius: 4px; 
    /* padding: .5rem; */
    margin: 1rem;   
}
.card-content {
    padding: 0.5rem;
}